@import "../../theme/colors.scss";

#header {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #122E82;
  z-index: 1;
}

#header .content {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

#header .content .right {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

#header .title {
  font-size: 18px;
  font-family: TTNorms-Bold;
  color: $PRIMARY_TEXT_LIGHT;
}

#header svg {
  font-size: 26px;
  color: $PRIMARY_TEXT_LIGHT;
}