
$CALL_TO_ACTION: #00a76a;
$BACKGROUND_LIGHT: #fff;
$BACKGROUND_DARK: #122E82;

$PRIMARY_TEXT_LIGHT: #fff;
$SECONDARY_TEXT_LIGHT: #ccc;
$TERTIARY_TEXT_LIGHT: #999;

$PRIMARY_TEXT_DARK: #111;
$SECONDARY_TEXT_DARK: #333;
$TERTIARY_TEXT_DARK: #666;

$BORDER: #cacaca;